body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    background: #1e293b;
}

h1 {
    margin: 0;
}

main {
    width: 80%;
    margin: auto;
}

/* FORMULAIRE */
.form-section {
    background: #1e293b;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0ea5e9;
}

/* ARTICLES */
.articles-section {
    margin-top: 30px;
}

.article {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.article h3 {
    margin: 0;
}

.actions {
    margin-top: 10px;
}

.actions button {
    margin-right: 10px;
}